name: wxweb Docker Build

on:
  watch:
    types: [started]

jobs:
  build_job:
    name: wxweb Docker Build
    runs-on: ubuntu-latest
    steps:
      - 
        name: Private Actions Checkout
        uses: actions/checkout@v2.3.4

      - 
        name: Docker Setup QEMU
        uses: docker/setup-qemu-action@v1.2.0

      - 
        name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v1.6.0

      - 
        name: Docker Login
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Build and push Docker images
        uses: docker/build-push-action@v2.7.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            xrsec/wxweb:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
